@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none; /* Hides the scrollbar but allows scrolling */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar{
  display: none;
}

.react-calendar{
  width:100% !important;
  border:none !important;
  font-family: 'Inter',sans-serif !important ;
}
.react-calendar__navigation__label__labelText{
  font-weight: 600 !important;
}
.react-calendar__tile--active{
  background: rgb(217 231 244) !important;
  border-radius:8px;
  border: 1px solid black !important;
  color:black !important;
}
.react-calendar__tile--now{
  background: rgb(241, 244, 184) !important;
  border-radius:8px;
  border: 1px solid rgb(124, 122, 122) !important;
  color:black !important;
}

.rbc-btn-group:first-child{
  display: none !important;
}
.rbc-btn-group:last-child{
  font-size: 13px !important;
}
.rbc-toolbar-label{
  text-align:right !important;
  padding:0px 20px !important;
}
.rbc-btn-group:last-child button{
  border:1px solid grey;
  margin-right:4px;
  border-radius: 0.7rem !important;
  background-color: rgb(184, 194, 244);
}
.rbc-toolbar button.rbc-active{
  background-color: rgb(155, 171, 249) !important;
  box-shadow: none !important;
}
.rbc-time-view{
  border:#eee I !important;
}
.rbc-time-header{
  display: none !important;
}
.rbc-time-content{
  border:none !important;
}
.rbc-time-gutter.rbc-time-column{
  font-size: 13px;
}
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group{
  padding:0px 20px !important;
}

.rbc-timeslot-group{
  background-color: #f7fdff !important;
}
.rbc-day-slot{
  font-size: 14px !important;
}

.rbc-event{
  border: none !important;
  color: black !important;
  padding: 10px !important;
  /* margin: 10px !important;
  margin-bottom: 30px !important; */
  width: 99% !important;
}
.rbc-event:nth-child(1){
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2){
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3){
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4){
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5){
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6){
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7){
  background-color: #e2e4ff !important;
}
.rbc-event:nth-child(8){
  background-color: #f2f1ff !important;
}
.rbc-event-label{
  color:gray !important;
  margin-bottom: 5px;
}
.rbc-time-slot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.rbc-timeslot-group .rbc-time-slot:nth-child(2){
  display: none;
}